global:
  smtp_from: 'tucha2512@gmail.com'
  smtp_smarthost: 'smtp.gmail.com:587'
  smtp_auth_username: 'tucha2512'
  smtp_auth_password: 'fkir*!_1'

receivers:
  - name: 'mail'
    email_configs:
      - to: 'tucha2512@yandex.ru'
        send_resolved: true
